# Dependencies
node_modules/

# Binaries
ffmpeg
ffmpeg.zip

# Render outputs
output.mp4
output_morning.mp4
output_afternoon.mp4
output_evening.mp4
out.png
out_4k.png
out_premium.png
out_solution.png

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env*